.hero-background {
  background-image: url("./../files/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.blob-bg {
  background-image: url("./../files/blob.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-1,
.section-2,
.contact-form-container {
  padding-top: 128px;
  padding-bottom: 128px;
}

.section-title {
  font-size: var(--fs2);
}

.section-title-container {
  margin-bottom: 64px;
}

.item-header {
  margin-bottom: 32px;
  font-size: var(--fs4);
}

.section-1-content-container,
.section-2-content-container {
  text-align: center;
}

.section-2 {
  background-color: var(--color1);
  color: var(--white);
}

.section-3 {
  max-height: 260px;
}

.partner-logo-svg {
  height: 40px;
  margin: 16px;
}

.partner-logo-svg:hover {
  height: 50px;
}

.section-4 {
  padding-top: 80px;
  padding-bottom: 128px;
}

.section-4 .card {
  width: 300px;
  min-height: 400px;
  margin-top: 64px;
}

.section-4 .front {
  background: var(--white);
}

.section-4 .back,
.front,
.content {
  border-radius: 50px !important;
}

.section-4 .arrow-svg {
  margin-top: 32px;
  height: 64px;
}

.section-4 .back-card-title {
  margin-bottom: 24px;
}

.section-4 .card-text-content {
  margin-top: 24px;
}

.email-adress {
  margin-top: 16px;
}

.copyright {
  font-size: var(--xsmall);
}
.red-hearth {
  color: red;
}

@media (min-width: 485px) {
}

@media (min-width: 576px) {
}

@media (min-width: 594px) {
}

@media (min-width: 600px) {
}

@media (min-width: 650px) {
}

@media (min-width: 675px) {
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .section-1-content-container,
  .section-2-content-container {
    text-align: left;
  }
  .parter-logo-svg {
    margin: 0px;
  }

  .section-3 {
    max-height: 104px;
  }
}

@media (min-width: 934px) {
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

@media (min-width: 1094px) {
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

@media (min-width: 1300px) {
}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
